/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
}

.homepage_bg{
    background: url("../src/assets/Images/bghome.svg");
}

.instructor-shadow{
    box-shadow: -15px -15px white;
}